# Configurações de Autenticação
# IMPORTANTE: Altere estes valores em produção!
JWT_SECRET=your_secret_key_here
ADMIN_USERNAME=admin
ADMIN_PASSWORD=your_password_here

# Configurações do Servidor
PORT=3000
